<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Compra finalizada</title>
</head>
<body>
    <style>
        * { font-family: 'Roboto', sans-serif; }
body { background-color: #ffffff; }
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.f { 
    font-size: 20px; 
    font-weight: 300;
    text-align: center;
}

@media(max-width:424px) {
    .servipan { width: 50%; }
    .contenedor { margin-top: 55%; }
}</style>
    <div class="contenedor">
            <img src="https://servipan.000webhostapp.com/img/servipan.png" alt="" class="servipan">
    </div>
    <div  class="contenedor1">
        <p class="f">¡Gracias por realizar su compra en Servipan!</p>
    </div>
</body>
</html>