<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/style.css">
    
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <img src="servipan.png" alt="" class="paypal">
        <img src="arrow.png" alt="" class="arrow">
        <img src="paypal.png" alt="" class="servipan">
    </div>
    <div  class="contenedor">
        <p class="f">Click en el boton para hacer la transaccion en Paypal.</p>
    </div>
    <div  class="contenedor">
        <button class="boton_personalizado">Ir a Paypal</button>
    </div>
</body>
</html>